main:
  - name: Archive
    url: archives/
    weight: 5
  - name: Search
    url: search/
    weight: 10
  - name: Tags
    url: tags/
    weight: 10
  - name: Categories
    url: categories/
    weight: 10