@font-face {
    font-family: 'D2Coding ligature';
    src: url('../fonts/D2Coding-ligature.woff2') format('woff2'),
        url('../fonts/D2Coding-ligature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}